<ion-view view-title="Unterhaltungen">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/{{chat.id}}">
        <div class="imgWrap" data-ng-if="chat.type == 'groupChat'">
			<img class="userimg userimg--group" data-ng-repeat="user in chat.users | limitTo: 3" data-ng-src="{{user.userimage}}" alt="{{user.name}}" title="{{partner.name}}">
			<span class="userimg userimg--group userimg--remaining" data-ng-if="chat.users.length > 3">+{{chat.users.length - 3}}</span>
		</div>
		<div class="imgWrap" data-ng-if="chat.type == 'peerChat'">
			<img class="userimg" data-ng-src="{{chat.users[0].userimage}}" alt="{{chat.users[0].name}}">
		</div>
        <h2><span data-ng-repeat="user in chat.users">{{user.name}}{{$last?"":", "}}</span></h2>
        <p>{{chat.lastMessage}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized" ng-click="remove(chat)">
          Archivieren
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
