<ion-view>
	<ion-nav-title>Profil bearbeiten</ion-nav-title>
	<ion-content>
		<img data-ng-src="{{myself.basic.image}}" id="settings-userimage">
		<div class="list">
			<div class="item item-divider">
				<h2>Name</h2>
			</div>
			<label class="item item-input item-stacked-label">
				<input type="text" placeholder="Vorname" data-ng-model="firstName">
			</label>
			<label class="item item-input item-stacked-label">
				<input type="text" placeholder="Nachname" data-ng-model="lastName">
			</label>
		</div>
		<div class="list">
			<div class="item item-divider">
				<h2>E-Mail</h2>
			</div>
			<label class="item item-input item-stacked-label">
				<input type="text" placeholder="max@mail.com" data-ng-model="mail">
			</label>
		</div>
		<div class="list">
			<div class="item item-divider">
				<h2>Passwort ändern</h2>
			</div>
			<label class="item item-input">
				<input type="password" placeholder="Passwort">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Passwort wiederholen">
			</label>
		</div>
	</ion-content>
</ion-view>