<?xml version='1.0' encoding='utf-8'?>

<widget id="de.whispeer.mobileclient"
				version="0.0.5"
				xmlns="http://www.w3.org/ns/widgets"
				xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<name>Whispeer</name>
	<description>
		Whispeer is a secure social network. This is the mobile client.
	</description>

	<author href="http://whispeer.de" email="martin.czuchra@googlemail.com">
		Martin Czuchra
	</author>

	<preference name="permissions" value="none"/>

	<content src="index.html" />

	<access origin="*://beta.whispeer.de*" /> <!-- hack for ws-protocol -->
	<access origin="ws://beta.whispeer.de*" />
	<access origin="http://beta.whispeer.de*" />
	<access origin="https://beta.whispeer.de*" />

	<access origin="*://beta.whispeer.de:3001*" /> <!-- hack for ws-protocol -->
	<access origin="ws://beta.whispeer.de:3001*" />
	<access origin="http://beta.whispeer.de:3001*" />
	<access origin="https://beta.whispeer.de:3001*" />

	<access origin="*://beta.whispeer.de:3001" /> <!-- hack for ws-protocol -->
	<access origin="ws://beta.whispeer.de:3001" />
	<access origin="http://beta.whispeer.de:3001" />
	<access origin="https://beta.whispeer.de:3001" />

	<access origin="https://beta.whispeer.de:3001/*" />

	<access origin="http://127.0.0.1*" /> <!-- allow local pages -->

</widget>
