<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false">
	<ion-nav-bar class="bar-stable bar-chat-detail">
		<ion-nav-title>
			<span class="messages-nav-title" data-ng-class="{'messages-nav-title-center': activeTopic.partners[0].online !== 2}">
			<span data-ng-if="::activeTopic.type === 'peerChat'">{{::activeTopic.partners[0].name}}</span>
			<span data-ng-if="::activeTopic.type === 'groupChat'">
				<span data-ng-repeat="partner in ::activeTopic.partners">{{partner.basic.shortname}}{{::($last?"":", ")}}</span>
			</span>
			<span data-ng-if="::activeTopic.type === 'peerChat'" class="messages-nav-status">
				<br>
				<small data-ng-if="activeTopic.partners[0].online === 2">online</small>
			</span>
		</ion-nav-title>

		<ion-nav-buttons side="left" class="button-clear">
			<a class="button button-clear back-button header-item" ui-sref="main.chats">
				<i class="icon" data-ng-class="::{'ion-android-arrow-back': platform === 'android', 'ion-ios-arrow-back': platform !== 'android'}"></i>
				<span class="header-button-text">Chats
				<span data-ng-show="topics.unread > 0">({{topics.unread}})</span></span>
			</a>
		</ion-nav-buttons>
		<ion-nav-buttons side="right" class="button-clear">
			<span class="button button-clear header-item">
				<div class="userimg" data-ng-if="::activeTopic.type === 'peerChat'">
					<userimage data-userID="sender{{burst.sender().id}}" data-user="activeTopic.partners[0]" data-trustlevel="0"></userimage>
				</div>
			</span>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content id="messageList" class="content-stable delegate-handle" delegate-handle="messageScroll">
		<ul class="u-unstyled">
			<li data-i18n="messages.endOfStream" data-ng-if="activeTopic.remaining == 0" id="messagesView-endOfStream"><span data-for="date">{{::messageBursts()[0].firstMessage().timestamp|date}}</span></li>
			<li class="padding center" data-ng-if="activeTopic.remaining > 0">
				<ion-spinner class="spinner-button" data-ng-if="loadingMessages"></ion-spinner>
				<button class="button button-block" data-ng-click="loadMoreMessages()" data-ng-if="!loadingMessages">
					<span data-i18n="messages.loadMore"></span>
				</button>
			</li>
			<li class="burst" data-ng-repeat="burst in (bursts = messageBursts())" data-ng-class="::{me:burst.isMe(), other:burst.isOther()}">
				<div class="burst-date" data-ng-if="::!burst.sameDay(bursts[$index - 1]) && !$first"><span class="burst-date-text">{{::burst.firstMessage().timestamp|date}}</span></div>
				<div class="username" data-ng-if="::!burst.isMe() && activeTopic.type === 'groupChat'">{{::burst.sender().name}}</div>
				<ul class="messages">
					<li data-ng-cloak data-ng-repeat="message in burst.messages" data-messageID="{{::message.id}}" class="message">
						<div class="messageContent">
							<div class="messageText" data-ng-class="::message.type" data-syntaxify="::message.text"></div>
							<div class="time"><i class="icon ion-ios-clock-outline"></i> {{::message.timestamp | date: 'shortTime' }}</div><!-- use smartdate filter here as soon as possible -->
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</ion-content>
	<ion-footer-bar keyboard-attach id="chat-detail-footer">
		<form id="inputWrap">
			<textarea class="no-resize msd-elastic" focus-me="canSend" id="messageInput" data-advancedsend="sendMessage(activeTopic.newMessage)" type="text" data-ng-model="activeTopic.newMessage" data-i18n-attr="messages.sendMessage.text|placeholder" placeholder="Gib deine Nachricht ein!" data-ng-class="::{'message-input-ios': platform !== 'android', 'message-input-android': platform === 'android'}"></textarea>
			<button data-ng-click="sendMessage(activeTopic.newMessage)" class="button button-balanced sendmessage" data-ng-class="::{'android-sendMessageButton icon ion-android-send': platform === 'android', 'button-clear': platform !== 'android'}">
				<span data-ng-if="platform !== 'android'" class="sendmessage-span">Senden</span>
			</button>
		</form>
	</ion-footer-bar>
</ion-view>
