<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false">
	<ion-nav-bar class="bar-balanced bar-chat-detail">
		<ion-nav-title>
			Chat mit {{activeTopic.partners[0].basic.shortname}} <span data-ng-if="activeTopic.partners.length > 1">und {{activeTopic.partners.length - 1}} Anderen</span>
			<div class="userimg">
				<a href="{{burst.sender().basic.url}}">
					<userimage data-userID="sender{{burst.sender().id}}" data-user="activeTopic.partners[0]" data-trustlevel="0">
				</a>
			</div>
		</ion-nav-title>
		<ion-nav-back-button class="button-clear">
			<i class="ion-chevron-left"></i> Zurück
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content id="messageList" class="content-stable delegate-handle" delegate-handle="messageScroll">
		<ul class="u-unstyled">
			<li data-i18n="messages.endOfStream" data-ng-if="activeTopic.remaining == 0" id="messagesView-endOfStream"><span data-for="date">{{::messageBursts()[0].firstMessage().timestamp|date}}</span></li>
			<li class="padding" data-ng-if="activeTopic.remaining > 0">
				<button class="button button-block" data-ng-click="loadMoreMessages()">
					<ion-spinner id="messageView-loadingIcon" class="spinner-button" data-icon="crescent" data-ng-if="loadingMessages"></ion-spinner>
					<span data-i18n="messages.remaining" data-ng-if="loadingMessages"></span>
					<span data-i18n="messages.loadMore" data-ng-if="!loadingMessages" class="balanced"></span>
				</button>
			</li>
			<li class="burst" data-ng-repeat="burst in (bursts = messageBursts())" data-ng-class="{me:burst.isMe(), other:burst.isOther()}">
				<div class="burst-date" data-ng-if="::!burst.sameDay(bursts[$index - 1]) && !$first"><span class="burst-date-text">{{::burst.firstMessage().timestamp|date}}</span></div>
				<div class="username" data-ng-if="::!burst.isMe() && activeTopic.type === 'groupChat'">{{burst.sender().name}}</div>
				<ul class="messages">
					<li data-ng-cloak data-ng-repeat="message in burst.messages" data-messageID="{{message.id}}" class="message">
						<div class="messageContent">
							<div class="messageText {{message.type}}" data-ng-class="{{message.type}}" data-syntaxify="message.text">{{message.text}}<img data-ng-if="message.type == 'image'" data-ng-src=""></div>
							<div class="time"><i class="icon ion-ios-clock-outline"></i> {{message.timestamp | date: 'shortTime' }}</div><!-- use smartdate filter here as soon as possible -->
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</ion-content>
	<ion-footer-bar keyboard-attach id="chat-detail-footer">
		<form id="inputWrap">
			<textarea class="no-resize" focus-me="canSend" id="messageInput" data-advancedsend="sendMessage(activeTopic.newMessage)" type="text" data-ng-model="activeTopic.newMessage" data-i18n-attr="messages.sendMessage.text|placeholder" placeholder="Gib deine Nachricht ein!"></textarea>
 			<!--<savebutton id="sendmessage" class="button-outline" data-ng-click="sendMessage(activeTopic.newMessage)" data-translation="messages.sendMessage.send" data-state="sendMessageState" data-noiniticon></savebutton>-->
			<button id="sendmessage" data-ng-click="sendMessage(activeTopic.newMessage)" class="button button-clear button-balanced">
				<span data-ng-if="platform != 'android'">Senden</span>
				<i class="icon ion-android-send" data-ng-if="platform == 'android'"></i></button>
		</form>
	</ion-footer-bar>
</ion-view>
