<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" overflow-scroll="true">
	<ion-nav-bar class="bar-stable bar-chat-detail">
		<ion-nav-title>
			<span class="messages-nav-title" data-ng-class="{'messages-nav-title-center': activeTopic.partners[0].online !== 2}">
				{{::user.name}}
			</span>
			<span data-ng-if="::activeTopic.type === 'peerChat'" class="messages-nav-status">
				<br>
				<small data-ng-if="activeTopic.partners[0].online === 2">online</small>
			</span>
		</ion-nav-title>
		<ion-nav-buttons side="left" class="button-clear">
			<a class="button button-clear back-button header-item" ui-sref="main.friends">
				<i class="icon" data-ng-class="::{'ion-android-arrow-back': platform === 'android', 'ion-ios-arrow-back': platform !== 'android'}"></i>
				<span class="header-button-text">Zurück</span>
			</a>
		</ion-nav-buttons>
		<ion-nav-buttons side="right" class="button-clear">
			<span class="button button-clear header-item">
				<div class="userimg" data-ng-if="::activeTopic.type === 'peerChat'">
					<userimage data-userID="sender{{burst.sender().id}}" data-user="activeTopic.partners[0]" data-trustlevel="0"></userimage>
				</div>
			</span>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content id="messageList" class="content-stable delegate-handle" delegate-handle="messageScroll">
		<ul class="u-unstyled">
			<li data-i18n="messages.endOfStream" id="messagesView-endOfStream"><span data-for="date">{{::now|date}}</span></li>
		</ul>
	</ion-content>
	<ion-footer-bar keyboard-attach id="chat-detail-footer">
		<form id="inputWrap">
			<textarea class="no-resize msd-elastic" focus-me="canSend" id="messageInput" type="text" data-ng-model="create.text" data-i18n-attr="messages.sendMessage.text|placeholder" placeholder="Gib deine Nachricht ein!" data-ng-class="::{'message-input-ios': platform !== 'android', 'message-input-android': platform === 'android'}"></textarea>
			<button data-ng-click="create.send(create.text)" class="button button-balanced sendmessage" data-ng-class="::{'android-sendMessageButton icon ion-android-send': platform === 'android', 'button-clear': platform !== 'android'}">
				<span data-ng-if="platform !== 'android'" class="sendmessage-span">Senden</span>
			</button>
		</form>
	</ion-footer-bar>
</ion-view>
