<ion-view view-title="Anmelden" hide-nav-bar="true">
	<ion-content>
		<form>
			<h1 class="center padding-top-extra noMargin-bottom" id="loginView-headline">Anmelden</h1>
			<div class="list list-inset">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Benutzername</span>
					<input type="text" id="username" placeholder="john" data-ng-model="login.identifier" autocomplete="off" autocapitalize="off" spellcheck="false">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Passwort</span>
					<input type="password" id="password" placeholder="Dein Passwort" data-ng-model="login.password">
				</label>
			</div>
			<div class="errors inputSandwich inputSandwich-middle" data-ng-cloak>
				<div class="error" data-ng-if="login.failureCode > 1" id="errorLogin">Login failed{{ i18n.login.loginFailed }}</div>
				<div class="error" data-ng-if="login.failureCode == 0" id="errorLogin">Unknown Username{{ i18n.login.unknownName }}</div>
				<div class="error" data-ng-if="login.failureCode == 1" id="errorLogin">Wrong Password{{ i18n.login.wrongPassword }}</div>
			</div>
			<div class="padding">
				<savebutton id="loginformsubmit" data-noiniticon data-state="login.state" class="button button-block button-balanced" type="submit" data-ng-click="login.login()">
					Anmelden
				</savebutton>
			</div>
		</form>
	</ion-content>
</ion-view>
