<ion-view view-title="Anmelden">
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Benutzername</span>
				<input type="text" placeholder="John">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Passwort</span>
				<input type="password" placeholder="Dein Passwort">
			</label>
		</div>
		<button class="button button-full button-balanced">Anmelden</button>
		<a href="#/chats">Skip</a>
	</ion-content>
</ion-view>