<ion-view view-title="Anmelden" hide-nav-bar="true">
	<ion-content>
		<h1 class="center padding-top-extra noMargin-bottom" id="loginView-headline">Anmelden</h1>
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Benutzername</span>
				<input type="text" placeholder="john">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Passwort</span>
				<input type="password" placeholder="Dein Passwort">
			</label>
		</div>
		<div class="padding">
			<a href="#/chats" class="button button-block button-balanced">Anmelden</a>
		</div>
	</ion-content>
</ion-view>