<!DOCTYPE html>
<html data-ng-controller="ssn.rootController">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>whispeer</title>
    	<!-- compiled css output -->
		<link href="assets/css/ionic.app.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">

		<script src="lib/requirejs/require.js" data-main="assets/js/requireConfig" data-initial="bootstrap"></script>
	</head>
	<body data-ng-class="{'loaded': !loading}">
		<div data-ng-if="!loading">
			<ion-nav-bar class="bar-balanced">
				<ion-nav-back-button class="button-clear">
					<i class="ion-chevron-left"></i> Zurück
				</ion-nav-back-button>
			</ion-nav-bar>
			<ion-nav-view></ion-nav-view>
		</div>
		<div data-ng-if="loading">
			<ion-view>
				<ion-content class="padding flex loading-wrap" scroll="false">
					<ion-spinner class="loading-spinner spinner-light"></ion-spinner>
				</ion-content>
			</ion-view>
		</div>
	</body>
</html>
