body:not(.loaded) {
	background: @primary;
}

.has-tabs {
	position: absolute;
	width: 100%;
}
.platform-android .has-tabs {
	top: 48px;
	bottom: 0;
}
.platform-ios .bar-header {
	height: 64px;
	.title, .buttons {
		margin-top: 20px;
	}
}
.platform-ios .has-header {
	top: 64px;
}
.platform-ios .has-tabs {
	top: 0;
	bottom: 48px;
}

.android-newMessageButton {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 12;
	border-radius: 100%;
	width: 52px;
	height: 52px;
}