<ion-view hide-back-button="true">
	<ion-nav-title>Chats</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-ios-compose-outline" data-ng-click="loadNewMessageView()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ui-sref="chat-detail({ chatId: chat.id })">
				<div class="imgWrap imgWrap--group" data-ng-if="chat.type == 'groupChat'">
					<img class="userimg userimg--group" data-ng-repeat="partner in chat.partners | limitTo: 2" data-ng-src="{{partner.basic.image}}" alt="{{partner.name}}">
					<span class="userimg userimg--remaining" data-ng-if="chat.partners.length > 2">+{{chat.partners.length - 3}}</span>
				</div>
				<div class="imgWrap" data-ng-if="chat.type == 'peerChat'">
					<userimage class="userimg--topic" data-ng-repeat="partner in chat.partners" data-user="partner">
				</div>
				<h2><span data-ng-repeat="partner in chat.partners">{{partner.name}}{{$last?"":", "}}</span></h2>
				<p>{{chat.latestMessage.data.sender.basic.shortname}}: {{chat.latestMessage.data.text}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
