<ion-view hide-back-button="true">
	<ion-nav-title>Freunde</ion-nav-title>
	<ion-content>
		<div id="friends-scroll">
			<div class="item item-input-inset friends-search" data-ng-if="!friendsLoading && friends.length > 1">
				<label class="item-input-wrapper">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="search" placeholder="Search" data-ng-model="$parent.searchFriendsInput">
				</label>
				<button class="button button-clear" data-ng-click="searchFriendsInput = ''" data-ng-show="searchFriendsInput.length > 0">
					Abbrechen
				</button>
			</div>
			<div class="center padding" data-ng-if="friendsLoading"><ion-spinner></ion-spinner></div>
			<ul class="list">
				<li class="item item-avatar" data-ng-repeat="user in friends | orderBy: 'name' | filter: {name: searchFriendsInput}" ui-sref="newMessageUser({userId: user.id})">
					<div class="imgWrap imgWrap--peer">
						<userimage class="userimg--topic" data-user="user">
					</div>
					<h2>{{user.name}}</h2>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
