<ion-view hide-back-button="true">
	<ion-nav-title>Freunde</ion-nav-title>
	<ion-content scroll="false">
		<div class="item item-input-inset" id="friends-search">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			</label>
			<button class="button button-clear">
				Abbrechen
			</button>
		</div>
		<ion-scroll id="friends-scroll">
			<ul class="list">
				<li class="item item-avatar" data-ng-repeat="user in friends | orderBy: 'name'">
					<img data-ng-src="{{user.basic.image}}">
					<h2>{{user.name}}</h2>
				</li>
			</ul>
		</ion-scroll>
	</ion-content>
</ion-view>
