<ion-view hide-back-button="true">
	<ion-nav-title>Einstellungen</ion-nav-title>
	<ion-content class="padding">
		<div class="list">
			<div class="item item-divider">
				<h2>Persönliche Angaben</h2>
			</div>
			<label class="item item-input">
				<input type="text" placeholder="Vorname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Nachname">
			</label>
			<div class="item item-divider">
				<h2>E-Mail</h2>
			</div>
			<label class="item item-input">
				<input type="text" placeholder="max@mail.com">
			</label>
			<div class="item item-divider">
				<h2>Passwort ändern</h2>
			</div>
			<label class="item item-input">
				<input type="password" placeholder="Passwort">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Passwort wiederholen">
			</label>
		</div>
		<a class="button button-assertive button-block" data-ng-click="logout()"><i class="icon ion-logout"> Abmelden</a>
	</ion-content>
</ion-view>
