// Helpers.less - some usefull classes
// -----------------------------------------

.u-unstyled {
	list-style-type: none;
}

.u-circle {
	border-radius: 100%;
}

.checkbox-pullRight {
	position: absolute !important;
	top: 50%;
	margin-top: -14px !important;
	left: ~"calc(100% - 50px)" !important;
}