/* Empty. Add your own CSS if you like */

.imgWrap {
	float: left;
	width: 64px;
	height: 64px;

	margin-left: -52px;
	margin-right: 24px;

	overflow: hidden;
	border-radius: 100%;
}

.userimg {
	width: 100%;
}

.userimg--group {
	float: left;
	width: 50%;
	height: 50%;
}

.userimg--remaining {
	font-size: 0.75em;
	padding: 0 7px;

	line-height: 30px;
	background-color: #575757;
	color: #fff;

	box-sizing: border-box;
}